<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empreinte client</title>
    <!-- Lien vers une feuille de style CSS externe -->
    <link rel="stylesheet" href="styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Contenu principal de la page -->
    <form action="">
        <div class="login">
            <h2>Hello! <br> <span>Welcome Back</span></h2>
            <div class="inputBox">
                <input type="text" name="clientId" id="clientId" placeholder="Identifiant client">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="inputBox">
                <input type="submit" value="Log in">
            </div>
        </div>
    </form>

    <div class="fingerprint">
        <div class="fingerprintBox">
            <img src="fingerprint.png" alt="" >

        </div>
        <p>Scanner votre empreinte</p>

    </div>


    <footer>
        <p>&copy; 2024 Witti-finances. Tous droits réservés.</p>
    </footer>

    <!-- Lien vers un fichier JavaScript externe -->
    <script src="scripts.js"></script>
</body>
</html>
